<h1>Let's MAKE A WORD PUZZLE!</h1>
<p>Make any word into a puzzle for your friends to solve. Type your favorite word or saying below!</p>
<form action='/puzzle' method='get'>
  <div class="form-group">
    <input id="word" name="word" class="form-control" type="text">
  </div>

      <button type="submit" class="btn btn-info">Itssssssss puzzle time!!!</button>
</form>
